/*
/*/*

*.csv
*.dcm
*.json
__pycache__
*cache*
.venv
.coverage
.ruff_cache

!.gitignore
!.pre-commit-config.yaml
!.gitlab-ci.yml
!/scripts/
!/scripts/*.sh
!/scripts/*.py
!tests/
!tests/*.py

!LICENSE
!README.md
!CHANGELOG.md

!uv.lock
!pyproject.toml

!/src/
!/src/project_name

!*.py

dist/
